<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>平台服务</title>
    <link rel="icon" type="image/x-icon" href="/image/icon.ico">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/dialog.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<form id="form_service_query" class="form margin-top-10">
    <div class="form-row">
        <div class="form-input-group">
            <label class="form-label">关键词：</label>
            <input type="text" name="key" class="form-input">
        </div>
        <div class="form-input-group">
            <label class="form-label">时间：</label>
            <input type="date" name="datetime" class="form-input">
        </div>
        <div class="form-input-group">
            <button type="button" class="button" onclick="(function(){tableRole.reload();})()">查询</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<div id="table_service">
</div>

<div id="dialog_service" class="dialog">
    <form id="form_service" class="form dialog-content">
        <input id="form_service_id" type="hidden" name="id">
        <div class="form-row">
            <div class="form-input-group flex-1">
                <label class="form-label">名称：</label>
                <input type="text" name="serviceName" class="form-input">
            </div>
        </div>
    </form>
</div>
</body>
<script src="/js/common.js"></script>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/request.js"></script>
<script src="/js/dialog.js"></script>
<script type="text/javascript">
    window.onload = function () {
    };

    let dialogRole = Dialog.create({
        dialogId: 'dialog_service',
        topButtons: [{
            title: '查看',
            classNames: '',
            onclick: function () {

            }
        }],
        bottomButtons: [{
            title: '保存',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                updateRole();
            }
        }, {
            title: '提交',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                addRole();
            }
        }]
    });

    let tableRole = Table.init({
        tableId: 'table_service',
        queryFormId: 'form_service_query',
        url: '/service/queryByParam',
        column: [{
            title: '服务编码',
            name: 'serviceCode'
        }, {
            title: '服务名称',
            name: 'serviceName'
        }, {
            title: '添加时间',
            name: 'createTime'
        }],
        bottomButtons: [{
            title: '添加',
            faClass: 'fa-plus',
            onclick: function () {
                addRoleView();
            }
        }],
        rowOperate: function () {
            let operates = [];
            operates.push({
                title: '编辑',
                classNames: '',
                onclick: updateRoleView
            });
            return operates;
        }
    });

    let addRoleView = function () {
        document.getElementById('form_service').reset();
        let dialogTitle = '添加服务';

        dialogRole.setTitle(dialogTitle).hideBottomButton().showBottomButton(1).open();
    };

    let updateRoleView = function () {
        Request.get('/service/getById', {id: this.id}).then(function (data) {
            let _formHtml = document.getElementById('form_service');
            _formHtml.addReadOnly('Edit');
            _formHtml.setForm(data);
            dialogRole.setTitle('编辑服务').hideBottomButton().showBottomButton(0).open();
        });
    };

    let addRole = function () {
        let formData = document.getElementById('form_service').getForm();
        Request.post('/service/add', formData).then(function () {
            tableRole.reload();
        });
    };

    let updateRole = function () {
        let formData = document.getElementById('form_service').getForm();
        Request.post('/service/updateById', formData).then(function () {
            tableRole.reload();
        });
    };

</script>
</html>