<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>平台服务</title>
    <link rel="icon" type="image/x-icon" href="/image/icon.ico">

    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/dialog.css">
</head>
<body>
<form id="form_service_query" class="form margin-top-10">
    <div class="form-row">
        <div class="form-input-group">
            <label class="form-label">关键词：</label>
            <input type="text" name="key" class="form-input">
        </div>
        <div class="form-input-group">
            <label class="form-label">时间：</label>
            <input type="text" name="datetime" class="form-input date-picker" data-date-format="">
        </div>
        <div class="form-input-group">
            <button type="button" class="button" onclick="(function(){tableService.reload();})()">查询</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<div id="table_service">
</div>

<div id="dialog_service" class="dialog">
    <div class="dialog-body">
        <form id="form_service" class="form dialog-content">
            <input id="form_service_id" type="hidden" name="id">
            <div class="form-row">
                <div class="form-input-group flex-1">
                    <label class="form-label">编码：</label>
                    <input type="text" name="serviceCode" class="form-input" data-readonly="|Edit|">
                </div>
            </div>
            <div class="form-row">
                <div class="form-input-group flex-1">
                    <label class="form-label">名称：</label>
                    <input type="text" name="serviceName" class="form-input">
                </div>
            </div>
        </form>
    </div>
</div>

<div id="dialog_member" class="dialog">
    <input type="hidden" id="dialog_member_serviceId">
    <div class="dialog-body">
        <div id="table_member" class="dialog-content">
        </div>
    </div>
</div>
</body>
<script src="/js/common.js"></script>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/request.js"></script>
<script src="/js/dialog.js"></script>
<script type="text/javascript">
    window.onload = function () {
        common.initHtml();
    };

    let dialogService = Dialog.create({
        dialogId: 'dialog_service',
        bottomButtons: [{
            id: 'save',
            title: '保存',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                updateService();
            }
        }, {
            id: 'submit',
            title: '提交',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                addService();
            }
        }]
    });

    let dialogMember = Dialog.create({
        dialogId: 'dialog_member',
        title: '成员列表',
        minWidth: '600px',
        topButtons: [{
            id: 'add',
            title: '添加',
            classNames: '',
            onclick: function () {
                selectUser.call(this);
            }
        }]
    });

    let tableService = Table.init({
        tableDivId: 'table_service',
        queryFormId: 'form_service_query',
        url: '/service/queryByParam',
        column: [
            {title: '服务编码', name: 'serviceCode'},
            {title: '服务名称', name: 'serviceName'},
            {title: '服务状态', name: 'serviceStatusText'},
            {title: '添加时间', name: 'createTime'}],
        bottomButtons: [{
            title: '添加',
            faClass: 'fa-plus',
            classNames: 'margin-right-10',
            onclick: function () {
                addServiceView();
            }
        }],
        rowOperate: function () {
            let operates = [];
            operates.push({
                title: '编辑',
                classNames: 'margin-right-10',
                onclick: updateServiceView
            }, {
                title: '成员',
                classNames: 'margin-right-10',
                onclick: memberListView
            });
            if (this.serviceStatus === 1) {
                let id = this.id;
                operates.push({
                    title: '禁用',
                    classNames: 'margin-right-10',
                    onclick: function () {
                        common.confirmRequest(id, '/service/disable', 'table_service', '是否确认禁用该服务');
                    }
                });
            } else if (this.serviceStatus === -1) {
                let id = this.id;
                operates.push({
                    title: '启用',
                    classNames: 'margin-right-10',
                    onclick: function () {
                        common.confirmRequest(id, '/service/enable', 'table_service', '是否确认启用该服务');
                    }
                });
            }
            return operates;
        }
    });

    let tableMember = Table.init({
        tableDivId: 'table_member',
        column: [
            {title: '用户名称', name: 'username'},
            {title: '添加时间', name: 'createTime'}],
        rowOperate: function () {
            let operates = [];
            operates.push({
                title: '移除',
                classNames: '',
                onclick: removeMember
            });
            return operates;
        }
    });

    let addServiceView = function () {
        let _formHtml = document.getElementById('form_service');
        _formHtml.reset();
        _formHtml.addReadOnly('Add');

        dialogService.setTitle('添加服务').hideBottomButton().showBottomButton('submit').open();
    };

    let updateServiceView = function () {
        Request.get('/service/getById', {id: this.id}).then(function (data) {
            let _formHtml = document.getElementById('form_service');
            _formHtml.addReadOnly('Edit');
            _formHtml.setForm(data);
            dialogService.setTitle('编辑服务').hideBottomButton().showBottomButton('save').open();
        });
    };

    let addService = function () {
        let formData = document.getElementById('form_service').getForm();
        Request.post('/service/add', formData).then(function () {
            tableService.reload();
        });
    };

    let updateService = function () {
        let formData = document.getElementById('form_service').getForm();
        Request.post('/service/updateById', formData).then(function () {
            tableService.reload();
        });
    };

    let memberListView = function () {
        dialogMember.open();
        tableMember.reload('/service/queryMember', {serviceId: this.id});
        document.getElementById('dialog_member_serviceId').setValue(this.id);
    };

    let removeMember = function () {
        let data = {
            serviceId: this.serviceId,
            userId: this.userId
        };
        Request.post('/service/removeMember', data).then(function () {
            tableMember.reload();
        });
    };

    let selectUser = function () {
        SelectDialog.admin({
            id: 'selectMember',
            selectBack: function () {
                let formData = {
                    serviceId: document.getElementById('dialog_member_serviceId').value,
                    userId: this.id
                };
                Request.post('/service/addMember', formData).then(function () {
                    tableMember.reload();
                });
            }
        });
    };

</script>
</html>