.toast-container {
    position: fixed;
    z-index: 9999;
    bottom: 20%;
    width: 100%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
    display: flex;
}

.toast-container.toast-active {
    opacity: 1
}

.toast-message-container {
    font-size: 14px;
    margin: 5px auto;
    padding: 5px 20px;
    text-align: center;
    border-radius: 7px;
    max-width: 25%;
    word-wrap: break-word;
}

.toast-info{
    color: #212121;
    background-color: #d8d8d8;
}

.toast-error{
    color: #f10808;
    background-color: #f5f4f4;
    border: 1px solid #f10808;
}

.margin-auto{
    margin: auto;
}

.margin-top-no{
    margin-top: 0 !important;
}

.margin-right-no{
    margin-right: 0 !important;
}

.margin-bottom-no{
    margin-bottom: 0 !important;
}

.margin-left-no{
    margin-left: 0 !important;
}

.margin-top-10{
    margin-top: 10px !important;
}

.margin-right-10{
    margin-right: 10px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.margin-left-10{
    margin-left: 10px !important;
}