body {
    margin: 0;
    background-color: #ffffff;
}

select {
    outline: none;
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    background: url(/image/arrow/solid/down.png) no-repeat scroll calc(100% - 4px) center transparent;
}

input {
    padding: 0.25rem 1rem;
    outline: none;
}

input[type=checkbox].switch {
    height: 1.2rem;
    -webkit-appearance: none;
    width: 2.4rem;
    min-width: 2.4rem;
    border-radius: 0.6rem;
    background-color: #cccccc;
    outline: none;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0;
}

input[type=checkbox].switch:checked {
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type=checkbox].switch:after {
    background-color: #ffffff;
    content: attr(data-content);
    width: calc(1.2rem - 4px);
    height: calc(1.2rem - 4px);
    position: absolute;
    border-radius: 50%;
    margin: 2px;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
}

input[type=checkbox].switch:checked:after {
    margin-left: calc(1.2rem + 2px);
    -webkit-transition: .4s;
    transition: .4s;
}

button {
    outline: none;
    background-color: #ffffff;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #252a2f;
}

button:hover {
    background-color: #cccccc;
}

button.button-x {
    padding: 0.5rem 1.5rem;
}

button.button-s {
    padding: 0.25rem 0.5rem;
}

button[type=reset] {
    color: #919191;
}

.display-flex {
    display: flex !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}

.flex-6 {
    flex: 6 !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.margin-auto {
    margin: auto !important;
}

.margin-top-no {
    margin-top: 0 !important;
}

.margin-right-no {
    margin-right: 0 !important;
}

.margin-bottom-no {
    margin-bottom: 0 !important;
}

.margin-left-no {
    margin-left: 0 !important;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-right-1 {
    margin-right: 1rem !important;
}

.margin-bottom-1 {
    margin-bottom: 1rem !important;
}

.margin-left-1 {
    margin-left: 1rem !important;
}

.margin-top-half {
    margin-top: 0.5rem !important;
}

.margin-right-half {
    margin-right: 0.5rem !important;
}

.margin-bottom-half {
    margin-bottom: 0.5rem !important;
}

.margin-left-half {
    margin-left: 0.5rem !important;
}

.hide {
    display: none !important;
}

.text-center {
    text-align: center !important;
}

[disabled] {
    color: #a9a9a9 !important;
    pointer-events: none !important;
    cursor: default !important;
    background-color: #f5f5f5 !important;
}

[readonly] {
    border-color: #eaeaea !important;
    color: #a9a9a9 !important;
    pointer-events: none !important;
    cursor: default !important;
}

.toast-container {
    position: fixed;
    z-index: 9999;
    bottom: 20%;
    width: 100%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
    display: flex;
}

.toast-container.toast-active {
    opacity: 1
}

.toast-message-container {
    font-size: 14px;
    margin: 5px auto;
    padding: 5px 20px;
    text-align: center;
    border-radius: 7px;
    max-width: 25%;
    word-wrap: break-word;
}

.toast-info {
    color: #252a2f;
    background-color: #e8e8e8;
}

.toast-error {
    color: #c60000;
    background-color: #e8e8e8;
    border: 1px solid #c60000;
}

@keyframes width-0-to-100 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes width-0-to-100 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes width-100-to-0 {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}

@-webkit-keyframes width-100-to-0 {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}

@keyframes height-0-to-100 {
    from {
        height: 0
    }
    to {
        height: 100%
    }
}

@-webkit-keyframes height-0-to-100 {
    from {
        height: 0
    }
    to {
        height: 100%
    }
}

@keyframes height-100-to-0 {
    from {
        height: 100%
    }
    to {
        height: 0
    }
}

@-webkit-keyframes height-100-to-0 {
    from {
        height: 100%
    }
    to {
        height: 0
    }
}

@keyframes opacity-0-to-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes opacity-0-to-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.opacity-0-1 {
    animation: opacity-0-to-1 .5s;
    -webkit-animation: opacity-0-to-1 .5s;
}

.width-0-100 {
    animation: width-0-to-100 .5s;
    -webkit-animation: width-0-to-100 .5s;
}

.height-0-100 {
    animation: height-0-to-100 .5s;
    -webkit-animation: height-0-to-100 .5s;
}

.width-100-0 {
    animation: width-100-to-0 .5s;
    -webkit-animation: width-100-to-0 .5s;
}

.height-100-0 {
    animation: height-100-to-0 .5s;
    -webkit-animation: height-100-to-0 .5s;
}

.close {
    color: #e8e8e8;
    font-size: 1.2rem;
    margin: auto 0 auto auto;
    cursor: pointer;
}

.close:hover {
    color: #9b9b9b;
}