.date-picker-body{
    position: fixed;
    background-color: #ffffff;
    display: none;
}

.date-picker-body:hover{
    display: block;
}

.date-picker-body-table{
    border-collapse: collapse;
}

.date-picker-body-table thead th{
    text-align: center;
    padding: 0 0.5rem;
    font-weight: normal;
    background-color: #e8e8e8;
}

.date-picker-body-table tbody td{
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.date-picker-body-table tbody td.prefix{
    background-color: #f3f3f3;
    color: #a9a9a9;
}

.date-picker-body-table tbody td.current{

}

.date-picker-body-table tbody td.next{
    background-color: #f3f3f3;
    color: #a9a9a9;
}

.date-picker-body-table tbody td.now{
    background-color: #2196F3;
}

.date-picker-body-table tbody td.active{
    background-color: #a9a9a9;
    color: #ffffff;
}

.date-picker-body-table tbody td:hover{
    background-color: #a9a9a9;
    color: #ffffff;
}

.date-picker-top{
    padding: 5px 10px;
    text-align: center;
}

.date-picker-top span{
    padding: 0 5px;
}

.date-picker-top-left{
    float: left;
    cursor: pointer;
}

.date-picker-top-left:hover{
    background-color: #a9a9a9;
    color: #ffffff;
}

.date-picker-top-right{
    float: right;
    cursor: pointer;
}

.date-picker-top-right:hover{
    background-color: #a9a9a9;
    color: #ffffff;
}