.dialog{
    position: fixed;
    height: 100%;
    width: 0;
    background-color: #000000ad;
    top: 0;
    overflow: scroll;
}

.dialog.show{
    width: 100%;
}

.dialog-body{
    min-width: 25%;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2rem auto;
}

.dialog-top{
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    height: 1.5rem;
    text-align: left;
    display: flex;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.dialog-top-title{
    margin: auto 0;
}

.dialog-top-buttons{
    width: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
    height: 1.5rem;
    text-align: center;
    line-height: 1.25rem;
}

.dialog-top-buttons-item{
    pointer-events: all;
    padding: 0.125rem 0.5rem;
    font-size: 0.5rem;
    background: none;
    border: 1px solid #bbbbbb;
    border-radius: 0.25rem;
    margin: auto 0;
    cursor: pointer;
}

.dialog-content{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    overflow: scroll;
    /*max-height: calc(100% - 11.5rem);*/
}

.dialog-content *{
    min-width: auto;
}

.dialog-bottom{
    margin: 0 auto;
    background-color: #ffffff;
    display: none;
    text-align: center;
    height: 3rem;
    border-top: 1px solid #e8e8e8;
}

.dialog-bottom button{
    flex: 1;
    height: 100%;
    border: none;
    border-right: 1px solid #e8e8e8;
    border-radius: 0;
}

.dialog-bottom-double{
    padding: 0;
    height: 3rem;
}

.dialog-confirm-cancel{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0;
    border-right: 1px solid #e8e8e8;
}

.dialog-confirm-ok{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0;
}

.dialog-top-font-confirm{
    color: #f5dc00;
}