.form {
    margin: 1rem 0;
}

.form-row {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.form-inline .form-row {
    display: inline-flex;
}

.form-input-group {
    display: flex;
    height: 2rem;
}

.form-inline .form-input-group {
    margin: 0 1rem 0 0;
}

.form-input-group.input-x {
    height: 2.5rem;
}

.form-input-group .button {
    margin: 0 1rem 0 auto;
    color: #2196F3;
}

.form-label {
    text-align: right;
    padding: 0.25rem 0 0.25rem 0.5rem;
    margin: auto;
    flex: 1;
}

.form-inline .form-label {
    flex: none;
}

.form-input {
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    flex: 3;
}

.form-inline .form-input {
    flex: none;
}