.table {
    width: 100%;
    min-width: 600px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5rem 0 1.5rem;
}

.table-head th {
    text-align: left;
    padding: 0.5rem 1rem;
    border: 1px solid #e8e8e8;
    height: 1.5rem;
}

.table-body td {
    padding: 0.5rem 1rem;
}

.table-interval tr:nth-child(odd) {
}

.table-interval tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-body tr:hover {
    background-color: #ebebeb;
}

.table-body tr[selected] {
    background-color: #ebebeb;
}

.table-empty {
    color: #757575;
}

.table-row-operate {
    color: #2196F3;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    height: 1.4rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-right: 1rem;
    line-height: 1.4rem;
}

.table-row-operate i {
    pointer-events: none;
}

.table-row-operate:hover {
    background-color: #ffffff;
}

.table-bottom {
    padding: 0.5rem 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    height: 2rem;
    min-width: 600px;
}

.table-bottom-buttons {
    margin: auto 0 auto 2rem;
    color: #2196F3;
}

.table-bottom-button {
    cursor: pointer;
    margin-right: 1rem
}

.table-bottom-page {
    display: inline-flex;
    width: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
    height: 2rem;
    color: #2196F3;
}

.table-bottom-info {
    margin: auto 2rem auto auto;
}

.page-item {
    height: calc(2rem - 2px);
    width: calc(2rem - 2px);
    border: 1px solid #e8e8e8;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    margin: auto 0.5rem;
    pointer-events: all;
    font-weight: 200;
    line-height: calc(2rem - 2px);
}

.page-input {
    width: 3rem;
    cursor: text;
    -webkit-appearance: none;
    background: none;
    height: calc(2rem - 9px);
    font-size: 1rem;
    padding: 0.25rem;
}

.page-size {
    width: 3rem;
    height: 100%;
    background: none;
    font-size: 1rem;
}

.page-input:hover {
    -webkit-appearance: none;
}

.page-item:disabled {
    color: #4e555b;
}

.page-item:first-child {
    margin-left: auto;
}

.page-item:last-child {
    margin-right: auto;
}