<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>系统资源</title>
    <link rel="icon" type="image/x-icon" href="/image/icon.ico">

    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/dialog.css">
</head>
<body>
<form id="form_role_query" class="form margin-top-10">
    <div class="form-row">
        <div class="form-input-group">
            <label class="form-label">编码：</label>
            <input name="key" class="form-input">
        </div>
        <div class="form-input-group">
            <label class="form-label">状态：</label>
            <select id="form_role_query_roleStatus" name="roleStatus" class="form-input"></select>
        </div>
        <div class="form-input-group">
            <button type="button" class="button" onclick="(()=>tableRole.reload())()">查询</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<div id="table_role">
</div>
<div id="dialog_role" class="dialog">
    <div class="dialog-body">
        <form id="form_role" class="form dialog-content">
            <input id="form_role_id" type="hidden" name="id">
            <div class="form-row">
                <div class="form-input-group flex-1">
                    <label class="form-label">编码：</label>
                    <input type="text" name="code" class="form-input" data-readonly="|Edit|">
                </div>
            </div>
            <div class="form-row">
                <div class="form-input-group flex-1">
                    <label class="form-label">名称：</label>
                    <input type="text" name="name" class="form-input">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="dialog_permission" class="dialog">
    <input id="dialog_permission_roleCode" type="hidden">
    <div class="dialog-body">
        <div id="permission" class="dialog-content">

        </div>
    </div>
</div>
</body>
<script src="/js/common.js"></script>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/request.js"></script>
<script src="/js/dialog.js"></script>
<script type="text/javascript">
    window.onload = function () {
        document.getElementById('form_role_query_roleStatus').initSelect('/availableStatus', true);
    };

    let dialogRole = Dialog.create({
        dialogId: 'dialog_role',
        bottomButtons: [{
            id: 'save',
            title: '保存',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                updateRole();
            }
        }, {
            id: 'submit',
            title: '提交',
            classNames: 'float-right',
            closeAfterClick: true,
            onclick: function () {
                addRole();
            }
        }]
    });

    let dialogPermission = Dialog.create({
        dialogId: 'dialog_permission',
        title: '资源权限'
    });

    let tableRole = Table.init({
        tableDivId: 'table_role',
        queryFormId: 'form_role_query',
        url: '/role/queryByParam',
        column: [
            {title: '编码', name: 'code'},
            {title: '名称', name: 'name'},
            {title: '状态', name: 'roleStatusText'}],
        bottomButtons: [{
            title: '添加',
            faClass: 'fa-plus',
            onclick: function () {
                addRoleView();
            }
        }],
        rowOperate: function () {
            let operates = [];
            operates.push({
                title: '编辑',
                classNames: '',
                onclick: updateRoleView
            }, {
                title: '权限',
                classNames: '',
                onclick: permissionView
            });
            if (this.roleStatus === 1) {
                let id = this.id;
                operates.push({
                    title: '禁用',
                    classNames: '',
                    onclick: function () {
                        common.confirmRequest(id, '/role/disable', 'table_role', '是否确认禁用该角色');
                    }
                });
            } else if (this.roleStatus === -1) {
                let id = this.id;
                operates.push({
                    title: '启用',
                    classNames: '',
                    onclick: function () {
                        common.confirmRequest(id, '/role/enable', 'table_role', '是否确认启用该角色');
                    }
                }, {
                    title: '删除',
                    classNames: '',
                    onclick: function () {
                        common.confirmRequest(id, '/role/delete', 'table_role', '是否确认删除该角色');
                    }
                });
            }
            return operates;
        }
    });

    let addRoleView = function () {
        document.getElementById('form_role').reset();
        let dialogTitle = '添加资源';

        dialogRole.setTitle(dialogTitle).hideBottomButton().showBottomButton('submit').open();
    };

    let updateRoleView = function () {
        Request.get('/role/getById', {id: this.id}).then(function (data) {
            let _formHtml = document.getElementById('form_role');
            _formHtml.addReadOnly('Edit');
            _formHtml.setForm(data);
            dialogRole.setTitle('编辑资源').hideBottomButton().showBottomButton('save').open();
        });
    };

    let addRole = function () {
        let formData = document.getElementById('form_role').getForm();
        Request.post('/role/add', formData).then(function () {
            tableRole.reload();
        });
    };

    let updateRole = function () {
        let formData = document.getElementById('form_role').getForm();
        Request.post('/role/updateById', formData).then(function () {
            tableRole.reload();
        });
    };

    let permissionView = function () {
        document.getElementById('dialog_permission_roleCode').setValue(this.code);
        Request.get('/resource/queryMyResource', {roleCode: this.code}).then(function (data) {
            let $permission = document.getElementById('permission');
            let htmlString = '';
            data.forEach(function (item) {
                htmlString += '<div><div class="permission" onclick="permissionClick()"><span class="permission-name">' + item.name + '</span><input data-resourceCode="' + item.code + '" type="checkbox" class="switch margin-auto margin-right-no" ' + (item.have ? 'checked' : '') + ' onchange="permissionChange()"></div><div class="permission-children">' + getChildrenHtmlString(item.children) + '</div></div>';
            });
            $permission.innerHTML = htmlString;
            dialogPermission.open();
        });
    };

    let getChildrenHtmlString = function (children) {
        let htmlString = '';
        if (!children) {
            return htmlString;
        }

        children.forEach(function (item) {
            htmlString += '<div><div class="permission" onclick="permissionClick()"><span class="permission-name">' + item.name + '</span><input data-resourceCode="' + item.code + '" type="checkbox" class="switch margin-auto margin-right-no" ' + (item.have ? 'checked' : '') + ' onchange="permissionChange()"></div><div class="permission-children">' + getChildrenHtmlString(item.children) + '</div></div>';
        });
        return htmlString;
    };

    let permissionClick = function () {
        let $target = window.event.target;
        let $children = $target.parentNode.querySelector('.permission-children');
        if (!$children) {
            return;
        }
        window.event.stopPropagation();
        if ($children.classList.contains('active')) {
            $children.classList.remove('active');
        } else {
            $children.classList.add('active');
        }
    };

    let permissionChange = function () {
        let $target = window.event.target;
        let roleCode = document.getElementById('dialog_permission_roleCode').value;
        let resourceCode = $target.getAttribute('data-resourceCode');
        Request.post('/resource/savePermission', {roleCode:roleCode,resourceCode:resourceCode})
    };

</script>
</html>