<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>系统资源</title>
    <link rel="icon" type="image/x-icon" href="/image/icon.ico">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<form id="form_resource_query" class="form margin-top-10">
    <div class="form-row">
        <div class="form-input-group">
            <label class="form-label">编码：</label>
            <input name="key" class="form-input">
        </div>
        <div class="form-input-group">
            <label class="form-label">类型：</label>
            <select name="type" class="form-input">
                <option value="">全部</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="form-input-group">
            <button type="button" class="button" onclick="queryList()">查询</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<div id="table_resource">
</div>
</body>
<script src="/js/common.js"></script>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/request.js"></script>
<script type="text/javascript">
    window.onload = function () {
        queryList();
    };

    function queryList() {
        Table.query({
            tableId: 'table_resource',
            queryFormId: 'form_resource_query',
            url: '/resource/queryByParam',
            column: [{
                title: '父编码',
                name: 'parentCode'
            }, {
                title: '编码',
                name: 'code'
            }, {
                title: '名称',
                name: 'name'
            }],
            pageSizes:[5,10,15]
        });
    }

</script>
</html>