<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>系统资源</title>
    <link rel="icon" type="image/x-icon" href="/image/icon.ico">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<form id="tableParam_resource" class="form">
    <div class="from-row display-flex">
        <div class="from-input-group">
            <label class="from-label">编码：</label>
            <input name="code" class="from-input">
        </div>
        <div class="from-input-group">
            <label class="from-label">编码：</label>
            <input name="code" class="from-input">
        </div>
    </div>
    <div class="from-row display-flex">
        <div class="from-input-group">
            <label class="from-label">编码：</label>
            <input name="code" class="from-input">
        </div>
        <div class="from-input-group">
            <label class="from-label">编码：</label>
            <select name="code" class="from-input">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </div>
    <div class="from-row">
    </div>
</form>
<div id="table_resource">
</div>
</body>
<script src="/js/common.js"></script>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/request.js"></script>
<script type="text/javascript">
    window.onload = function () {
        queryList();
    };

    function queryList() {
        Table.query({
            tableId: 'table_resource',
            url: '/resource/queryByParam',
            column: [{
                title: '父编码',
                name: 'parentCode'
            }, {
                title: '编码',
                name: 'code'
            }, {
                title: '名称',
                name: 'name'
            }],
            queryParam: {
                pageSize: 4
            }
        });
    }

</script>
</html>