<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${platformName}"></title>
    <link rel="icon" type="image/x-icon" href="http://static.platform.jwzhu.com/image/icon.ico">

    <link rel="stylesheet" href="http://static.platform.jwzhu.com/css/common.css">
    <style type="text/css">

    </style>
</head>
<body>
<div class="">
    请登录
</div>
</body>
<script src="http://static.platform.jwzhu.com/js/common.js"></script>
<script type="text/javascript">

</script>
</html>